@{
ViewData["Title"] = "Admin Home Page";
}

@model UserList

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Create", "Admin", FormMethod.Post))
{
<div class="">
    Name: <input class="lightingElement darkstyle" type="text" name="name">
    <input class="mainButtonStyle darkstyle" type="submit" value="Create User" />
</div>
}

<br>
<div class="container">
    <div>
        <table class="table table-condensed table-bordered">
            <thead>
                <tr style="font-size: 125%">
                    <th class="text-center">Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">IsAdmin</th>
                    <th class="text-center">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in @Model.Users)
                {
                <tr class="lightingElement darkstyle">
                    <td class="">@user.Id</td>
                    <td class="">@user.Name</td>
                    <td class="">@user.IsAdmin</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin", FormMethod.Post))
                        {
                        <div class="">
                            <input type="hidden" value="@user.Id" name="id" />
                            <input class="mainButtonStyle darkstyle" type="submit" value="Delete this user" />
                        </div>

                        }
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>